*{
    font-weight: normal;
}

img {
    height: 200px;
    width: 200px;
}

#red{
    color: red !important;
}

#green{
    color: green!important;
}

#blue{
    color: blue!important;
}

#yellow{
    color: yellow!important;
}

#orange{
    color: orange!important;
}

